@model GToken.Web.Models.EnterNewPasswordForm

@{
    ViewBag.Title = Resources.Resources.Enter_new_password;
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
    
}

@section header{
    <div class="row">
        <div class="medium-6 medium-offset-3 columns">
            <h1 class="top-logo"><a href="@Url.Action("index", "main")" title="GToken @Resources.Resources.Home_page"><img src="/static/images/header_logo.png" alt="GToken"></a></h1>
        </div>
    </div>
}

<div class="row" ng-controller="AccountNewPassCtrl" ng-init="init()">
    <div class="large-6 large-offset-3 medium-8 medium-offset-2 columns">
        <div class="panel large">
            <!--           enter new pass-form-->
            <form id="accounts_new_pass" name="accountsNewPassForm" method="POST" class="row" action="@Url.Action("enter-new-password", "account", new { next = Request.Params["next"] })">
                @Html.AntiForgeryToken()
                <div class="columns medium-12">
                    <div class="row">
                        <div class="columns medium-12">
                            <h4>@Resources.Resources.Enter_new_password</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="columns medium-12">
                            @Html.PasswordFor(m => m.password, new { @placeholder = @Resources.Resources.password, @class = "", @focus = "true", @required = "required", @maxlength = "20" })
                        </div>
                    </div>
                    @Html.HiddenFor(m=>m.code)
                    @Html.HiddenFor(m => m.next)
                    <div class="row">
                        <div class="columns medium-12">
                            @Html.PasswordFor(m => m.confirmPassword, new { @placeholder = @Resources.Resources.Retype_password, @class = "", @focus = "true", @required = "required", @maxlength = "20" })
                            @if (ViewBag.Errors != null)
                            {
                                <small class="label alert" data-error-message="@ViewBag.Errors">@ViewBag.Errors</small>
                            }
                        </div>
                    </div>
                    <div class="row text-center">
                        <button class="button large" type="submit">@Resources.Resources.Submit</button>
                    </div>
                </div>
            </form>
            <!--            signup-form-->
        </div>
    </div>
    <input type="hidden" id="username" name="username" ng-model="formData.username" />
    <input type="hidden" id="verifyCode" name="verifyCode" ng-model="formData.verifyCode" />
</div>
@section foot_js
{
    <script src="/static/js/controllers/accountNewPass.js"></script>
}