@using GoEat.Models
@using GoEat.Utility
@model GoEat.Web.Models.TransactionsViewModel
@{
    ViewBag.Title = "Index";
}

@section page_stylesheets{
    <link href="/static/stylesheets/account/transaction.css" rel="stylesheet" />
}
@{
    var timezone = "Singapore Standard Time";
    var est = TimeZoneInfo.FindSystemTimeZoneById(timezone);
}

<div class="profile large-centered">
    <br />
    <div class="account-content">
        <form class="model-form ng-pristine ng-valid row transaction-history small-12 medium-12 large-10 small-centered large-centered"
              method="post" action="/transaction/exportcsv">
            <input type="text" style="display: none" name="page" value="@ViewBag.currentPageIndex" />
            <div class="large-12 medium-12 small-12">
                <div class="large-3 medium-3 small-12 columns">
                    <input type="text" class="datepicker" placeholder="from date" name="start" id="fromDate">
                </div>
                <div class="large-3 medium-3 small-12 columns">
                    <input type="text" class="datepicker" placeholder="to date" name="end" id="toDate">
                </div>
                <div class="large-2 medium-2 small-12 columns">
                    <select id="transactionStatus" class="cbbTransactionStatus" name="status">
                        <option>All</option>
                        <option>Pending_reconcile</option>
                        <option>Success</option>
                        <option>Reconcile_fail</option>
                        <option>Failure</option>
                    </select>
                </div>
                <div class="large-4 medium-4 small-12 columns">
                    @Html.DropDownListFor(m => m.timeZone, Helper.GetTimeZones().Select(x => new SelectListItem() { Text = x.DisplayName, Value = x.Id }))
                </div>
            </div>
            <div class="large-12 medium-12 small-12 columns">
                <input name="export" class="button small" value="Export CSV" type="submit" />
            </div>
        </form>
    </div>
    <div class="account-content list-transaction">
        <h4>TRANSACTIONS</h4>
        <div class="row transaction-history small-12 medium-12 large-10 small-centered large-centered">
            <table>
                <thead>
                    <tr>
                        <th span="1" style="width: 20%;">Username</th>
                        <th span="1" style="width: 15%;">Order ID</th>
                        <th span="1" style="width: 15%;">Final Amount</th>
                        <th span="1" style="width: 15%;">Token</th>
                        <th span="1" style="width: 15%;">Original Amount</th>
                        <th span="1" style="width: 20%;">Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var transaction in Model.transactions)
                    {
                        DateTime targetTime = TimeZoneInfo.ConvertTimeFromUtc(transaction.created_date, est);
                        <tr>
                            <td>@transaction.username</td>
                            <td>@transaction.order_id</td>
                            <td>@transaction.amount</td>
                            <td>@transaction.token_amount</td>
                            <td>@(transaction.original_price)</td>
                            <td>@targetTime.ToString(ConstantValues.S_SHORT_DATETIME_FORMAT)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (ViewBag.currentPageIndex > 1)
        {
            <a href="@Url.Action("index", "transaction", new { page = (ViewBag.currentPageIndex - 1)  })">
                <input type="button" value="<<" />
            </a>
        }
        else
        {
            <a href="@Url.Action("index", "transaction", new { page = (ViewBag.currentPageIndex)  })">
                <input type="button" value="<<" disabled />
            </a>
        }
        @if (ViewBag.currentPageIndex < ViewBag.lastPageIndex)
        {
            <a href="@Url.Action("index", "transaction", new { page = (ViewBag.currentPageIndex + 1)  })">
                <input type="button" value=">>" />
            </a>
        }
        else
        {
            <a href="@Url.Action("index", "transaction", new { page = (ViewBag.currentPageIndex)  })">
                <input type="button" value=">>" disabled />
            </a>
        }
    </div>
    <br />
</div>
@section page_foot_js{
    <script src="~/static/js/admin/transaction.js"></script>
}
