@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

<!DOCTYPE html>
<html lang="en" ng-app="gtokenApp" class="html_classes">
<head>
    <meta charset="UTF-8" />
    @Html.Partial("~/Views/Shared/Includes/favicon_meta.cshtml")
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
    @Html.AntiForgeryToken()
    <meta property="fb:app_id" content="812688685436100" />
    <title>GoPlay - @ViewBag.Title</title>
    <base href="@Url.Action("Index", "Home")" />
    <meta property="og:image" content="@String.Format("{0}://{1}{2}",Request.Url.Scheme, Request.Url.Authority, "/static/images/gtoken_icon.png")" />
    <meta property="og:site_name" content="GoPlay" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Share GoPlay Token with your friends and loved ones, and empower them with the freedom to upgrade whichever games they like to play" />
    <link href="/static/fonts/ubuntu/ubuntu.css" rel="stylesheet" type="text/css" charset="utf-8">
    @RenderSection("open_graph_meta_tags", false)
    <link rel="stylesheet" href="~/bower_components/animate.css/animate.min.css" />
    @RenderSection("lib_stylesheets", false)
    @RenderSection("page_stylesheets", false)
    @if (culture != "en-us")
    {
        string url = "/static/stylesheets/main_" + culture.Substring(0, 2) + ".css";
        <link rel="stylesheet" href="@url" />
    }
    <script src="~/bower_components/modernizr/modernizr.js"></script>
    @RenderSection("head_js_lib", false)
    <style>
        .foundation-data-attribute-namespace {
            font-family: false;
        }
    </style>
    <link rel="stylesheet" href="/static/stylesheets/account/register.css" />
</head>
<body>
    @RenderBody()

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/foundation/js/foundation.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/angucomplete-alt/angucomplete-alt.js"></script>
    <script src="/bower_components/perfect-scrollbar/js/min/perfect-scrollbar.jquery.min.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/static/js/routing.js"></script>

    <script src="/static/js/app.js?rnd=20042015"></script>
    @RenderSection("page_foot_js", false)
    <!-- Mouseflow -->
    <script type="text/javascript">
        var _mfq = _mfq || [];
        (function () {
            var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
            mf.src = "//cdn.mouseflow.com/projects/7a2e04a7-6c9f-4613-a171-0dd80f1b0646.js";
            document.getElementsByTagName("head")[0].appendChild(mf);
        })();
    </script>
    <!-- Mouseflow -->
    <!-- CrazyEgg -->
    <script type="text/javascript">
        setTimeout(function () {
            var a = document.createElement("script");
            var b = document.getElementsByTagName("script")[0];
            a.src = document.location.protocol + "//dnn506yrbagrg.cloudfront.net/pages/scripts/0027/1837.js?" + Math.floor(new Date().getTime() / 3600000);
            a.async = true; a.type = "text/javascript"; b.parentNode.insertBefore(a, b)
        }, 1);
    </script>
    <!-- CrazyEgg -->
    <!-- Google Analytics -->
    @*<script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-51518799-2', 'auto');
        ga('send', 'pageview');
    </script>*@
    <!-- Google Analytics -->
    <!-- FreshChat -->
    <script type='text/javascript'>var fc_CSS = document.createElement('link'); fc_CSS.setAttribute('rel', 'stylesheet'); var isSecured = (window.location && window.location.protocol == 'https:'); fc_CSS.setAttribute('type', 'text/css'); fc_CSS.setAttribute('href', ((isSecured) ? 'https://d36mpcpuzc4ztk.cloudfront.net' : 'http://assets1.chat.freshdesk.com') + '/css/visitor.css'); document.getElementsByTagName('head')[0].appendChild(fc_CSS); var fc_JS = document.createElement('script'); fc_JS.type = 'text/javascript'; fc_JS.src = ((isSecured) ? 'https://d36mpcpuzc4ztk.cloudfront.net' : 'http://assets.chat.freshdesk.com') + '/js/visitor.js'; (document.body ? document.body : document.getElementsByTagName('head')[0]).appendChild(fc_JS); window.freshchat_setting = 'eyJ3aWRnZXRfc2l0ZV91cmwiOiJndG9rZW4uZnJlc2hkZXNrLmNvbSIsInByb2R1Y3RfaWQiOm51bGwsIm5hbWUiOiJndG9rZW4gcHRlIGx0ZCIsIndpZGdldF9leHRlcm5hbF9pZCI6bnVsbCwid2lkZ2V0X2lkIjoiYjc1ZDM3ZmYtNzRmMC00YjM0LWIxNjAtYjRhNDMzZjM4N2VhIiwic2hvd19vbl9wb3J0YWwiOnRydWUsInBvcnRhbF9sb2dpbl9yZXF1aXJlZCI6ZmFsc2UsImlkIjo1MDAwMDU3NjAzLCJtYWluX3dpZGdldCI6dHJ1ZSwiZmNfaWQiOiJhYWI4ODAzYWIxNDEzYTQ1YjBjMWM1MDUzOGM2YTdhZiIsInNob3ciOjEsInJlcXVpcmVkIjoyLCJoZWxwZGVza25hbWUiOiJndG9rZW4gcHRlIGx0ZCIsIm5hbWVfbGFiZWwiOiJOYW1lIiwibWFpbF9sYWJlbCI6IkVtYWlsIiwicGhvbmVfbGFiZWwiOiJQaG9uZSBOdW1iZXIiLCJ0ZXh0ZmllbGRfbGFiZWwiOiJUZXh0ZmllbGQiLCJkcm9wZG93bl9sYWJlbCI6IkRyb3Bkb3duIiwid2VidXJsIjoiZ3Rva2VuLmZyZXNoZGVzay5jb20iLCJub2RldXJsIjoiY2hhdC5mcmVzaGRlc2suY29tIiwiZGVidWciOjEsIm1lIjoiTWUiLCJleHBpcnkiOjAsImVudmlyb25tZW50IjoicHJvZHVjdGlvbiIsImRlZmF1bHRfd2luZG93X29mZnNldCI6MzAsImRlZmF1bHRfbWF4aW1pemVkX3RpdGxlIjoiQ2hhdCBpbiBwcm9ncmVzcyIsImRlZmF1bHRfbWluaW1pemVkX3RpdGxlIjoiTGV0J3MgdGFsayEiLCJkZWZhdWx0X3RleHRfcGxhY2UiOiJZb3VyIE1lc3NhZ2UiLCJkZWZhdWx0X2Nvbm5lY3RpbmdfbXNnIjoiV2FpdGluZyBmb3IgYW4gYWdlbnQiLCJkZWZhdWx0X3dlbGNvbWVfbWVzc2FnZSI6IkhpISBIb3cgY2FuIHdlIGhlbHAgeW91IHRvZGF5PyIsImRlZmF1bHRfd2FpdF9tZXNzYWdlIjoiT25lIG9mIHVzIHdpbGwgYmUgd2l0aCB5b3UgcmlnaHQgYXdheSwgcGxlYXNlIHdhaXQuIiwiZGVmYXVsdF9hZ2VudF9qb2luZWRfbXNnIjoie3thZ2VudF9uYW1lfX0gaGFzIGpvaW5lZCB0aGUgY2hhdCIsImRlZmF1bHRfYWdlbnRfbGVmdF9tc2ciOiJ7e2FnZW50X25hbWV9fSBoYXMgbGVmdCB0aGUgY2hhdCIsImRlZmF1bHRfdGhhbmtfbWVzc2FnZSI6IlRoYW5rIHlvdSBmb3IgY2hhdHRpbmcgd2l0aCB1cy4gSWYgeW91IGhhdmUgYWRkaXRpb25hbCBxdWVzdGlvbnMsIGZlZWwgZnJlZSB0byBwaW5nIHVzISIsImRlZmF1bHRfbm9uX2F2YWlsYWJpbGl0eV9tZXNzYWdlIjoiV2UgYXJlIHNvcnJ5LCBhbGwgb3VyIGFnZW50cyBhcmUgYnVzeS4gUGxlYXNlICMgbGVhdmUgdXMgYSBtZXNzYWdlICMgYW5kIHdlJ2xsIGdldCBiYWNrIHRvIHlvdSByaWdodCBhd2F5LiIsImRlZmF1bHRfcHJlY2hhdF9tZXNzYWdlIjoiV2UgY2FuJ3Qgd2FpdCB0byB0YWxrIHRvIHlvdS4gQnV0IGZpcnN0LCBwbGVhc2UgdGFrZSBhIGNvdXBsZSBvZiBtb21lbnRzIHRvIHRlbGwgdXMgYSBiaXQgYWJvdXQgeW91cnNlbGYuIn0=';</script>
</body>
</html>
