<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    @Html.Partial("~/Views/Shared/includes/favicon_meta.cshtml")
    <title>GoPlay Admin - @ViewBag.Title</title>

    <base href="/admin" />

    <link href='//fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic'
          rel='stylesheet' type='text/css'>

    @RenderSection("page_stylesheets", false)
    <link rel="stylesheet" href="/static/stylesheets/admin/admin.css" />

    @RenderSection("head_js_lib", false)
    <script src="/bower_components/modernizr/modernizr.js"></script>
    @RenderSection("page_head_js", false)
</head>
<body>
    @*{% block flashed_messages %}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div data-alert class="alert-box {{ category }}" tabindex="0" aria-live="assertive" role="dialogalert">
            <div class="row">{{ message }}</div>
            <a href="#" class="close">&times;</a>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% endblock %}*@
    @Html.Partial("~/Views/Shared/_Flash.cshtml")

    @Html.Partial("~/Areas/Admin/Views/Shared/_Header.cshtml")

    <div>
        @RenderBody()
    </div>

    @RenderSection("foot_js_lib", false)
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/foundation/js/foundation.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/angucomplete-alt/angucomplete-alt.js"></script>
    <script src="/bower_components/perfect-scrollbar/js/min/perfect-scrollbar.jquery.min.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/static/js/libs/foundation-datetimepicker/example/js/foundation-datetimepicker.js"></script>
    <script type="text/javascript" src="/static/js/routing.js"></script>
    @RenderSection("page_foot_js", false)
    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
</body>
</html>
