@{
    ViewBag.Title = Resources.Resources.About;
}

<section class="main-section">
    <div class="content row">
        <div class="columns medium-8 medium-centered">
            <div class="panel">
                <h1>@Resources.Resources.About_page_A_lifestyle_platform</h1>
                <h4>
                    @Resources.Resources.About_page_Games_GoPlay</h2>
                    <p>
                        @Resources.Resources.About_page_It_is_important<br><br>

                        @Resources.Resources.About_page_GoPlay_provides
                    </p>

                    <h4>
                        @Resources.Resources.About_page_Dine_GDine</h2>
                        <p>
                            @Resources.Resources.About_page_Food_is_a_necessity<br><br>

                            @Resources.Resources.About_page_Alongside_the_vision
                        </p>
            </div>
        </div>

    </div>
</section>