@model GoEat.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change password";
    Layout = "~/Views/Shared/_ChangePasswordLayout.cshtml";
}

@section page_stylesheets{
    <link rel="stylesheet" href="~/static/stylesheets/account/change_password.css" />
}
<div id="profile" class="profile" ng-controller="ProfileInfoCtrl" ng-init="init()">
    <div id="div-edit-profile" class="row">
        <div class="header-image">
        </div>
        <div class="rounded">
        </div>

        <div class="small-12 medium-12 large-6 profile-icon">
            <h4 style="border-bottom: 2px solid #d7d7d7;margin:15px 0px; padding-bottom: 15px;font-weight: 300;">CHANGE MY PASSWORD</h4>
            <div class="label-edit" style="margin:20px 0px">
                <span class="link-change-password">"After this, there is no turning back." - Morpheus, The Mathix (1999)</span>
            </div>
            <form id="edit-profile" class="large-8 forms-set ng-pristine ng-invalid ng-invalid-required" method="POST" novalidate="">
                @*@Html.AntiForgeryToken()*@

                <div class="text-left label-edit">
                    <label>Old password*</label>
                </div>

                @Html.TextBoxFor(m => m.OldPassword, new { @class = "input-edit", placeholder = "Old password*", type="password", maxlength = 20, minlength = 3, @required = "required" })
                @Html.ValidationMessageFor(m => m.OldPassword)

                <div class="text-left label-edit">
                    <label>New password*</label>
                </div>
                @Html.TextBoxFor(m => m.NewPassword, new { @class = "input-edit", placeholder = "New password*", type = "password", maxlength = 20, minlength = 3, @required = "required" })
                @Html.ValidationMessageFor(m => m.NewPassword)

                <div class="text-left label-edit">
                    <label>Confirm new password*</label>
                </div>
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "input-edit", placeholder = "Confirm new password*", type = "password", maxlength = 20, minlength = 3, @required = "required" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)

                <div class="label-edit">
                    Changed your mind?<a href="/account/profile" class="link-change-password"> Back to Profile Page</a>
                </div>

                <div style="text-align: center; margin: 15px 0px;" class="columns">
                    <input type="button" ng-click="submitChangePassword()" value="CHANGE MY PASSWORD" name="submit" id="save">
                </div>
            </form>

        </div>
        <br />
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/static/js/pages/change-password.js"></script>
}