<footer>
    <div class="row">
        <div class="large-12 columns">
            <ul class="footer left">
                <li><a target="_self" href="@Url.Action("index", "main")"><img src="/static/images/logo_footer.png"></a></li>
                <li><a class="sub-link" target="_self" href="@Url.Action("Index", "Games")">@Resources.Resources.Games</a></li>
                <li><a class="sub-link" target="_self" href="@Url.Action("About", "Main")">@Resources.Resources.About</a></li>
                <li><a class="sub-link" target="_self" href="@Url.Action("Club", "Main")">@Resources.Resources.Clubs</a></li>
                <li><a class="sub-link" target="_self" href="@Url.Action("News", "Main")">@Resources.Resources.News</a></li>
                <li><a class="sub-link" target="_self" href="@Url.Action("Support", "Main")">@Resources.Resources.Support</a></li>
                <li><a class="sub-link" target="_self" href="@Url.Action("Terms", "Main")">@Resources.Resources.Terms</a></li>
            </ul>
            <div class="social-icon right">
                <a target="_blank" href="https://www.facebook.com/GoPlayla.Page"><img src="/static/images/facebook.png" alt=""></a>
                <a target="_blank" href="https://twitter.com/GoPlayla"><img src="/static/images/twitter.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="row copyright">
        <p>PlayToken is a subsidiary of GToken.<br>Copyright 2015 GToken. All rights reserved.</p>
    </div>
</footer>
