@model GToken.Web.Models.ResetPasswordTemplate
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>PlayToken - Reset Password</title>

    <style media="screen" type="text/css">
        *:after,
        *:before {
            box-sizing: border-box;
        }

        body {
            background: url('{grey_texture}') repeat;
            margin: 0;
            padding: 0;
            font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
        }

        .header {
            background: url('{diamon_texture}') repeat;
            padding: 16px 0;
        }

        .row {
            margin: 0 auto;
            padding: 0;
            max-width: 768px;
            width: 100%;
        }

        .columns {
            position: relative;
            float: left;
            padding: 0 16px;
        }

        .row .before,
        .row .after {
            content: '';
            display: table;
        }

        .row .after {
            clear: both;
            width: 100%;
        }

        .content-container {
            padding: 24px 0 70px;
        }

            .content-container h3 {
                color: #20282A;
                font-weight: 600;
                font-size: 24px;
                margin: 0;
            }

                .content-container h3 i {
                    color: #F4C916;
                    font-style: normal;
                }

            .content-container h4 {
                color: #20282A;
                font-weight: 600;
                font-size: 20px;
                margin: 16px 0;
            }

            .content-container p {
                font-size: 16px;
                color: #5f5f5f;
                margin: 0;
            }

                .content-container p a {
                    color: #199BE3;
                    text-decoration: none;
                }
    </style>

</head>
<body>
    <div class="header">
        <div class="row">
            <div class="before">
            </div>
            <div class="large-12 columns">
                <a href="@Model.main_index">
                    <img src="@Model.header_logo" alt="">
                </a>
            </div>
            <div class="after">
            </div>
        </div>
    </div>
    <div class="content-container">
        <div class="row">
            <div class="before">
            </div>
            <div class="large-12 columns content">
                <h3>Dear <i>@Model.username</i>,</h3><br>
                <p>
                    You have requested to reset your password.<br>
                    Please check on the link below and you will be able to choose a new password for your PlayToken account.
                    <br><br>
                    <a href="@Model.reset_password_link">@Model.reset_password_link</a>
                    <br><br>
                    <b> Your verification link will only be valid in a day. </b>
                    If you require further assistance, please contact our <a href="@Model.main_support">customer support team</a>.
                    <br><br>
                    Thank you!
                    <br>
                    PlayToken Customer Support
                </p>
            </div>
            <div class="after">
            </div>
        </div>
    </div>
</body>
</html>
