@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

<!DOCTYPE html>
<html lang="en" ng-app="gdineApp" class="html_classes">
<head>
    <meta http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />

    @Html.Partial("Includes/favicon_meta")

    <title>GDine - @ViewBag.Title</title>

    <base href="@Url.Action("Index", "Home")" />


    @RenderSection("open_graph_meta_tags", false)


    <link rel="stylesheet" href="~/bower_components/animate.css/animate.min.css" />
    @RenderSection("lib_stylesheets", false)

    <link rel="stylesheet" href="~/static/stylesheets/main.css" />
    @RenderSection("page_stylesheets", false)


    @if (culture != "en-us")
    {
        string url = "static/stylesheets/main_" + culture.Substring(0, 2) + ".css";
        <link rel="stylesheet" href="@url" />
    }


    <script src="~/bower_components/modernizr/modernizr.js"></script>
    @RenderSection("head_js_lib", false)
</head>
<body class="body_classes">
    <div class="main-container">
        <div class="main-content columns">
            @RenderBody()
        </div>
    </div>
    <div class="body-filter hide">
    </div>


    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/foundation/js/foundation.min.js"></script>
    <script src="~/bower_components/angular/angular.min.js"></script>
    <script src="~/bower_components/angular-route/angular-route.js"></script>
    <script src="~/bower_components/angucomplete-alt/angucomplete-alt.js"></script>
    @RenderSection("foot_js_lib", false)

    <script src="~/static/js/app.js"></script>
    <script src="~/static/js/controllers.js"></script>
    <script type="text/javascript" src="~/static/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    @RenderSection("page_foot_js", false)


    @RenderSection("scripts", required: false)
</body>
</html>
