@model GoPlay.Web.Models.ChangePasswordViewModel
@using Resources
@{
    ViewBag.Title = Resources.Change_your_password;
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}

<link rel="stylesheet" href="/static/stylesheets/account/register.css?rnd=20140420" />
<div class="page-container row">
    <div class="large-12 columns">
        <a class="top-logo" href="/"><img src="/static/images/logo_img.png" alt=""></a>
        <div class="forms-container change-password">
            <div class="sect-title-bar">
                <h6 class="sect-title">@Resources.Change_your_password</h6>
            </div>
            <div class="sect-panel">
                <p class="subheader">
                    <i>“@Resources.After_this_there_is_no_turning_back”</i>
                    — Morpheus, The Matrix (1999)
                </p>
                <form id="account-change-password" class="forms-set" method="POST"
                      action="account/change-password">

                    <label class="check-label" for="remember_account">@Resources.Old_password*</label>
                    @Html.TextBoxFor(m => m.oldPassword, new { @class = "field-with-errors sml-forms ng-isolate-scop", type = "password", @focus = true, @required = "required", @placeholder = @Resources.Old_password.ToLower() + "*" })
                    <div class="errors-container">
                        <ul class="errors">
                            <li class="error"></li>
                            @Html.ValidationMessageFor(model => model.oldPassword)
                        </ul>
                    </div>

                    <label class="check-label" for="remember_account">@Resources.New_password*</label>
                    @Html.TextBoxFor(m => m.newPassword, new { @class = "field-with-errors sml-forms ng-isolate-scop", type = "password", @focus = true, @required = "required", @placeholder = @Resources.New_password.ToLower() + "*" })
                    <div class="errors-container">
                        <ul class="errors">
                            @Html.ValidationMessageFor(model => model.newPassword)
                        </ul>
                    </div>

                    <label class="check-label" for="remember_account">@Resources.Confirm_new_password*</label>
                    @Html.TextBoxFor(m => m.confirmPassword, new { @class = "field-with-errors sml-forms ng-isolate-scop", type = "password", @focus = true, @required = "required", @placeholder = @Resources.Confirm_new_password.ToLower() + "*" })
                    <div class="errors-container">
                        <ul class="errors">
                            @Html.ValidationMessageFor(model => model.confirmPassword)
                        </ul>
                    </div>
                    <div class="break-line"><span>&nbsp;&nbsp;</span></div>
                    <input id="submit" class="g-nml-button" name="submit" type="submit" value="@Resources.Change_your_password">
                </form>
            </div>
            <div class="bottom-link">
                <p>
                    @Resources.Changed_your_mind
                    <a href="account/profile">@Resources.Back_to_Profile_page</a>
                </p>
            </div>
        </div>
    </div>


