@model GoPlay.Web.Models.EnterNewPasswordForm

@{
    ViewBag.Title = Resources.Resources.Enter_New_Password;
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}

<div class="page-container row">
    <div class="large-12 columns">
        <a class="top-logo" href="/"><img src="/static/images/logo_img.png" alt=""></a>
        <div class="forms-container login">
            <div class="sect-title-bar">
                <h6 class="sect-title">@Resources.Resources.Enter_New_Password</h6>
            </div>
            <div class="sect-panel">
                <form id="accounts_login" class="forms-set" method="POST"
                      action="/account/enter-new-password">
                    @Html.HiddenFor(m => m.code)
                    @Html.PasswordFor(m => m.password, new { @placeholder = @Resources.Resources.password, @class = "", @focus = "true", @required = "required", @maxlength = "20" })
                    @Html.PasswordFor(m => m.confirmPassword, new { @placeholder = @Resources.Resources.Retype_password, @class = "", @focus = "true", @required = "required", @maxlength = "20" })
                    @if (ViewBag.Errors != null)
                    {
                        <small class="label alert" data-error-message="@ViewBag.Errors">@ViewBag.Errors</small>
                    }
                    <div class="row text-center">
                        <button class="g-nml-button" type="submit">@Resources.Resources.Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

