@model GoPlay.Web.Models.ResetPasswordViewModel
@using Resources
@{
    ViewBag.Title = @Resources.Reset_password;
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}

<div class="page-container row">
    <div class="large-12 columns">
        <a class="top-logo" href="/"><img src="~/static/images/logo_img.png" alt=""></a>
        <div class="forms-container login">
            <div class="sect-title-bar">
                <h6 class="sect-title">@Resources.Reset_your_password</h6>
            </div>
            <div class="sect-panel">
                <form id="accounts_login" class="forms-set" method="POST"
                      action="/account/reset-password">
                    @Html.AntiForgeryToken()
                    <label class="check-label" for="remember_account">@Resources.Your_Username*</label>
                    <input class="sml-forms" id="username" maxlength="20" name="username" placeholder="@Resources.username" required="required" type="text" focus="true">
                    @if (Model.Message.message.Count > 0)
                    {
                        <div class="errors-container">
                            <ul class="errors" style="display:block !important">
                                @foreach (var item in Model.Message.message)
                                {
                                    <li class="error app-@(item.Item1)" data-error-message="@item.Item1">@Html.Raw(item.Item2)</li>
                                }
                            </ul>
                        </div>
                    }
                    <div class="row text-center">
                        <button class="g-nml-button" type="submit">@Resources.Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="bottom-link">
            <p>
                @Resources.Dont_have_an_account
                <a href="/account/register/">
                    @Resources.Sign_up_get_1_free
                    <img src="~/static/images/tiny-gtoken.png" alt="">
                </a>
            </p>
        </div>
    </div>
</div>
