@*<div class="footer">
        <div class="row footer-content">
            <div class="medium-8 large-9 columns footer-nav">
                <ul class="menuleft">
                    <li class="footer-logo"><a href="@Url.Action("index", "main")"><img src="/static/images/footer-logo.png" alt=""></a></li>
                    <li><a href="@Url.Action("Index", "Games")">@Resources.Resources.Games</a></li>
                    <li><a href="@Url.Action("About", "Main")">@Resources.Resources.About</a></li>
                    <li><a href="@Url.Action("Club", "Main")">@Resources.Resources.Clubs</a></li>
                    <li><a href="@Url.Action("News", "Main")">@Resources.Resources.News</a></li>
                    <li><a href="@Url.Action("Support", "Main")">@Resources.Resources.Support</a></li>
                    <li><a href="@Url.Action("Terms", "Main")">@Resources.Resources.Terms</a></li>
                </ul>
            </div>
            <div class="medium-4 large-3 columns social-icon">
                <ul class="menuright social-links no-flick">
                    <li><a href="https://www.facebook.com/gtoken.official.page" target="_blank"><img src="/static/images/facebook-footer.png" alt=""></a></li>
                    <li><a href="https://twitter.com/G_Token" target="_blank"><img src="/static/images/twitter-footer.png" alt=""></a></li>
                    <li><a href="https://www.youtube.com/channel/UCSmnCC_w-J0B7xgWaO4Ez3g" target="_blank"><img src="/static/images/youtube-footer.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>*@
<footer class="footer ">
    <div class="row">
        <ul class="footer-links">
            <li><a href="@Url.Action("index", "main")">@Resources.Resources.Home_page</a><span class="separator hide-for-medium-up">|</span></li>
            <li><a href="@Url.Action("Deals", "main")">Campaigns</a><span class="separator hide-for-medium-up">|</span></li>
            <li><a href="@Url.Action("about", "main")">@Resources.Resources.About</a><span class="separator hide-for-medium-up">|</span></li>
            <li><a href="@Url.Action("clubs", "main")">@Resources.Resources.Clubs</a><span class="separator hide-for-medium-up">|</span></li>
            <li><a href="@Url.Action("news", "main")">@Resources.Resources.News</a><span class="separator hide-for-medium-up">|</span></li>
            <li><a href="@Url.Action("partners", "main")">@Resources.Resources.Partners</a><span class="separator hide-for-medium-up">|</span></li>
            <li><a class="sub-link" target="_blank" href="http://forums.gtoken.com/">@Resources.Resources.Forum</a><span class="separator hide-for-medium-up">|</span></li>
            <li><a href="@Url.Action("support", "main")">@Resources.Resources.Support</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="copyright">Copyright 2015</div>
    </div>
</footer>

