
@{
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
    ViewBag.Title = Resources.Resources.Something_is_wrong + "!";
}
@section lib_stylesheets {
<link rel="stylesheet" href="/static/stylesheets/error_page.css?rnd=20150420" />
}
<div class="row">
    <div class="large-12 columns container">
        <a href="@Url.Action("index", "main")"><img src="/static/images/logo_img.png" alt=""></a>
        <div class="sect-title-bar" style="margin-left:auto;margin-right:auto">
            <h6 class="sect-title">@Resources.Resources.System_Failed</h6>
        </div>
        <div class="sect-panel error5" style="margin-bottom:0 !important;margin-left:auto;margin-right:auto">
            <div>
                <h1>5</h1>
                <img src="/static/images/505_icon.png" alt="">
                <h1>0</h1>
            </div>
            <p>
                @Resources.Resources.This_is_just_180_wrong
            </p>
        </div>
        <div class="sect-end-bar" style="margin-left:auto;margin-right:auto">
        </div>
        <p>
            @Resources.Resources.We_sorry_that_the_system_encountered_an_internal_error
            @Html.Raw(string.Format(Resources.Resources.Why_not_go_back_to_our_Home_page_instead,"<a href='" + Url.Action("index", "main") + "'>" + Resources.Resources.Home_page + "</a>"))
        </p>
    </div>
</div>


